<div ALIGN="CENTER" class="cmdName" style="margin-bottom:00px;font-size : 12px;">#name#</div>
<div ALIGN="CENTER" style="width:60px;height:60px; top : 0px;padding:0px !important;font-color:#3076B0;background-color:transparent;" class="cmd tooltips cmd-widget cursor container-fluid history" data-type="info" data-subtype="numeric" data-cmd_id="#id#" data-cmd_uid="#uid#">
  <div style="margin-bottom:13px;color:#AF1E2D;"></div>		
  		<div>
        <span style="font-size: 20px;font-weight: bold;color:#3076B0;">#state#</span>
        <span style="font-size: 20px;font-weight: bold;color:#3076B0;">#unite#</span>
  		</div>
</div>